.App, .loading, .header{
    background-color: black;
}

.loading{
    min-height: 100vh;
    text-align: center;
    padding: 100px;
}

h1{
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 700 !important;
    color: white;
}

h3{
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 600 !important;
}

h2, h4, h6{
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 600 !important;
    color: white;
}

.trackname{
    background: radial-gradient(50% 50% at 50% 50%, #AE50D9 0%, #E35E87 48.96%, #FFA553 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 8rem !important;
}

.header{
    min-height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 15px 4.5vw;
}

.search-bar{
    padding: 20px;
}

.search-bar input{
    width: 350px;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    margin-right: 10px;
}

.search-bar button{
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
}


p{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}

.info p{
    color: white;
    margin: 0px 5px;
    text-align: center;
}

.video .info{
    padding: 0px !important;
    justify-content: center;
}

.btn{
    background: linear-gradient(98.95deg, #F79262 5.81%, #DE5D8F 98.22%) !important;
    border-radius: 18px !important;
    border: none !important;
    color: #FFFFFF !important;
    font-size: 1.5rem !important;
    padding: 10px 20px !important;
    margin-bottom: 20px !important;
}

.btn .bi{
    color:white;
    margin-right: 8px;
}

.info{
    display: flex;
    padding:  0px 6vw;
}

.info h6{
    font-size: 25px;
    margin-right: 15px;
}

.title{
    text-align: left;
    padding:  0px 6vw;
}

.rating{
    background: #FB9A5B;
    border-radius: 15px;
    padding: 0px 15px;
}

.cards{
    display: flex;
    padding:  0px 4vw;
    margin-bottom: 40px;
}

.card{
    padding: 10px;
    border: none !important;
    border-radius: 30px !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.artistbio{
    width: 35%;
    background: linear-gradient(98.95deg, #B7FFDC 5.81%, #9DE0FD 38.7%, #F793DB 102.24%);
    border-radius: 40px;
    margin:2vw;
    padding: 40px;
}

.artistbio img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 200px;
    margin-bottom: 30px;
}

.tweets{
    width: 65%;
    background: linear-gradient(258.68deg, #B6FEDD -0.44%, #CCB4FF 44.33%, #EEBCE6 95.08%);
    border-radius: 40px;
    margin:2vw;
    padding: 40px;
}

.topvideos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:  0px 6vw;
}

.video{
    width: 30%;
    margin: 15px;
}

.loading h5{
    color: white;
}

.logo{
    margin: 10px;
}

.counter p{
    color: white;
    margin: 0px;
    padding: 40px;
}
